.fourth-section {
  font-family: 'Work Sans', sans-serif;
  background: url("/assets/img/Backgrounds/unsplash_Rl9l9mL6Pvs.jpg") center / cover no-repeat;
}

.fourth-section-container {
  min-height: 1024px;
  max-height: 1440px;
  padding: 5rem 12px;
  height: 0;
}

/* Fourth Section Headings */

.fourth-section-h1 {
  background-image: linear-gradient(50deg, #22193E, #6246B2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin: 0px;
  font-weight: 700;
}

.fourth-section-paragraph {
  color: #22193E;
  font-size: 22px;
  margin-top: 1rem;
}

