.first-section {
  background: url("/assets/img/Backgrounds/Welcome%20Section.jpg") center / cover no-repeat;
  margin-top: 5.5rem;
}

.first-section-container {
  height: 0;
  max-height: 1440px;
  min-height: 1050px;
  padding: 5rem 12px;
  font-family: 'Work Sans', sans-serif;
}

/* First Section Heading */

.heading-container {
  padding: 2.8rem;
  background: linear-gradient(155deg, #EFEDF7 0%, rgba(239,237,247,0.61) 53%, rgba(239,237,247,0.3));
  border-radius: 15px;
  border: 1px solid #efedf7 ;
  margin: 0px;
  margin-bottom: 10rem;
}

.first-section-header {
  font-size: 45px;
  font-weight: 800;
  color: #0B120E;
}

@media (min-width: 300px) {
  .first-section-header {
    font-size: 25px;
  }
}

@media (min-width: 576px) {
  .first-section-header {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .first-section-header {
    font-size: 45px;
    width: 650px;
  }
}

/* First Section Form */

.first-section-search-bar {
  padding: 1.2rem;
  background: #D89986;
  border-radius: 15px;
}

.labeling {
  font-size: 20px;
  letter-spacing: -2px;
  font-weight: 500;
  color: #0B120E;
}

@media (min-width: 300px) {
  .form-container {
    margin: 1rem .8rem;
  }
}

@media (min-width: 992px) {
  .form-container {
    margin: .5rem .3rem;
  }
}

@media (min-width: 1200px) {
  .form-container {
    margin: .5rem 1.5rem;
  }
}

.destination-input {
  min-width: 250px;
  min-height: 35px;
  background: #D89986;
  border-style: none;
}

.check-in-date-input {
  min-width: 120px;
  min-height: 35px;
  background: #D89986;
  border-style: none;
}

.check-out-date-input {
  min-width: 120px;
  min-height: 35px;
  background: #D89986;
  border-style: none;
}

input::placeholder {
  color: #0B120E;
}

.search-button {
  padding: 1em 2em;
  background: #D89986;
  border-style: none;
}

.search-button:hover {
  background: #C28A79;
}

svg {
  width: 2em;
  height: 2em;
  color: #0B120E;
}

