.second-section {
  background: url("/assets/img/Backgrounds/Section%202.jpg") center / cover no-repeat;
  font-family: 'Work Sans', sans-serif;
  overflow: hidden;
}

.second-section-container {
  height: 0;
  max-height: 1440px;
  padding: 5rem 12px;
  min-height: 1045px;
}

/* Second Section Headings */

.second-section-headings-div {
  margin-bottom: 5rem;
}

.second-section h1 {
  text-align: center;
  font-size: 45px;
  letter-spacing: -4px;
  font-weight: 700;
  color: #0B120E;
  margin-bottom: 2.5rem;
}

.second-section-paragraphs {
  letter-spacing: 3px;
  font-size: 22px;
}

/* Second Section Pills */

.second-section-pills-div {
  margin: .8rem ;
}

.destination-pills {
  font-weight: 500;
  background: #6246B2;
  border-style: none;
  border-radius: 20px;
  box-shadow: 10px 15px 20px rgba(23,39,31,0.3);
}

@media (min-width: 300px) {
  .destination-pills {
    margin: .5rem 0;
    padding: .5rem .8rem;
  }
}

@media (min-width: 576px) {
  .destination-pills {
    margin: 0 .5rem;
    padding: .5rem .8rem;
  }
}

@media (min-width: 768px) {
  .destination-pills {
    margin: 0 .9rem;
    padding: .8rem .9rem;
    font-size: 22px;
  }
}

