.sixth-section {
  background: #EFEDF7;
  overflow: hidden;
}

.sixth-section-container {
  height: 0;
  min-height: 1024px;
  max-height: 1440px;
  padding: 5rem 12px;
}

/* Sixth Section Headings */

.sixth-section-headings {
  margin-bottom: 5rem;
}

.sixth-section-h1 {
  font-weight: 800;
  margin-bottom: 2rem;
}

.sixth-section-paragraph {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 2px;
}

/* Sixth Section Images */

.sixth-section-logos {
  margin-bottom: 4rem;
}

.brand-logo {
  margin: 1.5rem 1rem;
}

