.third-section {
  background: url("/assets/img/Backgrounds/Section%203.jpg") center / cover no-repeat;
  font-family: 'Work Sans', sans-serif;
}

.third-section-container {
  height: 0;
  min-height: 1024px;
  max-height: 1440px;
  padding: 5rem 12px;
}

/* Third Section Headings */

.third-section-h1 {
  font-size: 50px;
  font-weight: 700;
  background-image: linear-gradient(50deg, #6246B2, #70A64D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin: 0px;
}

.third-section-paragraph {
  color: #EAF2E4;
  font-size: 22px;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .third-section-paragraph {
    width: 650px;
  }
}

/* Third Section Button */

.third-section-button {
  color: #1F3429;
  font-size: 22px;
  font-weight: 600;
  padding: 1rem 5rem;
  background: #70A64D;
  border-style: none;
  border-radius: 25px;
}

.third-section-button:hover {
  background: #659545;
  color: #1C2F25;
}

